<div class="row">
  <div class="col-md-12 text-center">
    <h4>
      <p>I am from São Paulo, Brazil.</p>
      <p>I am passionate about developing software and building valuable products.</p>
      <p>I consider myself to be a determined and quick learner.</p>
      <p>I have experience in working with others and have achieved significant team goals.</p>
      <p>I love to travel and live in different places.</p>
    </h4>
    <br>
    <p><a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      More about me...
    </a></p>
    <div class="collapse text-justify" id="collapseExample">
      <p>I started working when I was 15 years old as a notary’s office assistant in the technology sector of the 9th Notary Office of Sao Paulo. While I was working in this position, I was also attending a preparatory course for the university entrance exam at night for two years. My dedication and hard work paid off as in 2010, I was accepted into the Information Systems program at the University of Sao Paulo, which is considered the best university of Brazil.</p>
      <p>In 2011, I became a member of the Academic Centre of the Information Systems Course (DASI USP) organizing workshops and study groups. On the role of Academic Vice President of the DASI USP, I and other students organized the 3rd Information Systems' Week; an event that brings influential people and companies of the technology and computer sectors to give presentations and workshops about current trends. The event had over 300 participants and received positive feedback from the attendees.</p>
      <p>In the same year, I was awarded a scholarship by the Science without Borders Scholarship Program to study for eleven months at the Instituto Superior Técnico, one of the best engineering schools of Portugal. After I returned from Portugal, I took the exam for the International English Language Test System(IELTS) certificate and received another scholarship by academic merit from University of Sao Paulo to study for six months at Victoria University in Melbourne, Australia.</p>
      <p>In August of 2014, I started working as a Web Developer Intern at Bankfacil, one of the hottest startups in Brazil. In December of the same year I completed my bachelor degree in Information Systems at the University of Sao Paulo and was hired as a Web Developer at Bankfacil. After almost two year working at BankFacil I left my job there to start working as a freelancer and travel around the world.</p>
    </div>
  </div>
</div>
