<section class="row">
  <div class="col-md-12 text-center">
    <h4>
      <p>I am from São Paulo, Brazil. Currently exploring different cities in Europe every month.</p>
      <p>I am passionate about developing software and building valuable products.</p>
      <p>I consider myself to be a determined and quick learner.</p>
      <p>I have experience in working with others and have achieved significant team goals.</p>
      <p>I love to travel and to live in different places.</p>
    </h4>
    <br>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseMoreAbout" aria-expanded="false" aria-controls="collapseMoreAbout">More about me...
    </a>
    <%= link_to 'Download Resume', resume_path, target: '_blank', class: "btn"%>
  </div>
</section>

<div class="collapse" id="collapseMoreAbout">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-md-4">
        <dl>
          <dt><h4>I've been working with:</h4></dt>
          <dd>
            <ul>
              <li>Ruby on Rails/Hanami/Grape</li>
              <li>RSpec/Minitest</li>
              <li>Javascript/JQuery</li>
              <li>HTML/CSS</li>
              <li>MySQL/PostgreSQL/MongoDB</li>
              <li>Scrum/XP/Kanban</li>
              <li>Git</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><h4>Learning in progress:</h4></dt>
          <dd>
            <ul>
              <li>Ember.js</li>
              <li>Elixir</li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><h4>Have done:</h4></dt>
          <dd>
            <ul>
              <li>Started working in the technology sector when I was 14 years old</li>
              <li>Studied in the best universities of Brazil and Portugal</li>
              <li>Bachelor degree in Information Systems</li>
              <li>Awarded with scholarships for academic merit to study and live in Portugal and Australia</li>
              <li>Organized an event about technology for over 300 participants</li>
              <li>Worked for one of the hottest startups in Brazil</li>
              <li>Coached at Rails Girls - São Paulo 2015</li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <dt><h4>Other things I've done:</h4></dt>
          <dd>
            <ul>
              <li>Bungy jumped 143m in Queenstown, New Zealand</li>
              <li>Got 17 trains to go from Lisbon to Turkey in 24 days</li>
              <li>Flew by baloon in Cappadocia, Turkey</li>
              <li>Have slept in more than 3 airports and 2 train stations</li>
              <li>Rafting in Brotas, São Paulo</li>
              <li>Scuba dived in the Great Barrier Reef, Australia</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
