<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('me.jpg', class: 'img-responsive me-image center-block') %>
    </div>
    <div class="col-md-6">
        <p>Zagreb, Croatia (UTC +1 hour)</p>
        <p>Email: rmonteiro89@hotmail.com</p>
        <p>Skype: rmonteiro89</p>
        <p>GitHub: https://github.com/rmonteiro89</p>
        <p>LinkedIn: https://br.linkedin.com/in/raphael-monteiro-339bb327</p>
        <p>Facebook: https://www.facebook.com/raphael.monteiro.7374</p>
        <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span>
  </a>
        <a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span>
  </a>
        <a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span>
  </a>
        <a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span>
  </a>
    </div>
  </div>
</div>
