<div class="row">
  <div class="col-md-12">
    <div class="page-header text-center">
      <h2 id='about'>About Me</h2>
    </div>
    <%= render 'static_pages/about' %>

    <div class="page-header text-center">
      <h2 id="contact">Contact Information</h2>
    </div>
    <%= render 'static_pages/contact' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="page-header text-center">
      <h2 id="places">Places I've Been <small>(total 19 countries)</small></h2>
    </div>
    <%= render 'static_pages/places' %>
  </div>
  <div class="col-md-6 text-center">
    <div class="page-header">
      <h2 id="instagram">Instagram</h2>
    </div>
    <%= render 'static_pages/instagram_pics' %>
  </div>
</div>
