<div class="container">
  <div class="page-header text-center">
    <h2 id='about'>About</h2>
  </div>

  <div class="page-header text-center">
    <h2 id="contact">Contact Information</h2>
  </div>
  <%= render 'static_pages/contact' %>
</div>

<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
