.navbar-nav {
  width: 100%;
  font-size: 16px;
  text-align: center;
  > li {
   float: none;
   display: inline-block;
  }
}

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

.header-image {
  top: 0px;
  left: -149px;
  width: 715px;
  height: 321px;
  position: relative;
}

.header-text {
  position: absolute;
  top: 121px;
  width: 111%;
}

.header-size-bg {
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  color: #424036;
}

.header-size-md {
  font-size: 20px;
  color: #E4C57C;
}

.header-arrow {
  font-size:36px;
  color: #FFF;
  cursor: pointer;
  animation: feature-text-anim 1.75s ease-in-out;
}

.header-arrow:hover {
  -webkit-transform: translate(0px,6px);
  -ms-transform: translate(0px,6px);
  transform: translate(0px,6px);
}

.me-image {
  width: 65%;
  height: auto;
}

#map {
  width: 500px;
  height: 400px;
}

.instagram-img {
  width: auto;
  height: 120px;
  margin: 10px;
}

footer {
  margin-top: 30px;
  color: #FFF;
  background-color: #26262a;
}

@media only screen and (min-width: 820px) {
  .header-image {
    top: 0px;
    left: 0px;
    max-width: 100%; /* for IE 6 */
    width: auto;
    height: auto;
    position: relative;
  }

  .header-text {
    position: absolute;
    top: 200px;
    width: 100%;
  }

  .header-size-bg {
    font-family: 'Libre Baskerville', serif;
    font-size: 47px;
    color: #424036;
  }

  .header-size-md {
    font-size: 44px;
    color: #E4C57C;
  }
}
