.padding-right {
  padding-right: 40px;
}

.navbar-nav {
  width: 100%;
  font-size: 16px;
  text-align: center;
  > li {
   float: none;
   display: inline-block;
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

.header-bg {
  opacity: 1;
  top: -30px;
  left: -380px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bg--image {
  background-image: image-url('background-image.jpg');
}

.header {
  position: relative;
  padding-bottom: 154px;
  background-color: #000;
}

.header .container {
  z-index:1;
}

.header-maintext {
  padding-top: 200px;
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  color: #424036;
}

.header-subtext {
  font-size: 28px;
  color: #E4C57C;
}

.header-disclaimer {
  font-size: 20px;
  color: #E4C57C;
}

.header-arrow {
  font-size:36px;
  color: #FFF;
  cursor: pointer;
  animation: feature-text-anim 1.75s ease-in-out;
}

.header-arrow:hover {
  -webkit-transform: translate(0px,6px);
  -ms-transform: translate(0px,6px);
  transform: translate(0px,6px);
}

.me-image {
  width: 65%;
  height: auto;
}

.contact-text {
  text-align: center;
}

#map {
  width: 300px;
  height: 200px;
}

.instagram-img {
  width: auto;
  height: 120px;
  margin: 10px;
}

footer {
  margin-top: 30px;
}

@media only screen and (min-width: 599px) {
  .header-bg {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-maintext {
    padding-top: 200px;
    font-family: 'Libre Baskerville', serif;
    font-size: 47px;
    color: #424036;
  }

  .header-subtext {
    font-size: 44px;
    color: #E4C57C;
  }

  .contact-text {
    text-align: left;
  }

  #map {
    width: 500px;
    height: 400px;
  }
}
