<footer class="footer">
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <small class="text-center">
      <p>
        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016 Raphael Monteiro. All rights reserved.
      </p>
    </small>
  </div>
</footer>
