<div class="container">
  <small class="text-center">
    <p>
      <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016 Raphael Monteiro. All rights reserved. Web Developer
    </p>
  </small>
</div>
