<header class="header">
  <div class="header-bg header-bg--image"></div>
  <div class="container text-center">
    <div class="header-text">
      <h1 class="header-maintext">I'm <strong>Raphael Monteiro</strong></h1>
      <h2 class="header-subtext">Web developer. Traveller. Dreamer.</h2>
      <p class="header-disclaimer"><i>*Not specifically in this order</i></p>
    </div>
    <div data-spy="scroll" data-target="#about">
      <a href="#about">
        <span class="glyphicon glyphicon-menu-down header-arrow" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</header>
