<header class="header">
  <div class="header-bg header-bg--image"></div>
  <div class="container text-center">
    <h1 class="header-size-bg">I'm <strong>Raphael Monteiro</strong></h1>
    <h2 class="header-size-md">Web developer. Traveller. Dreamer.</h2>
    <div data-spy="scroll" data-target="#about">
      <a href="#about">
        <span class="glyphicon glyphicon-menu-down header-arrow" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</header>
